.deck-header{
  margin: 4% 5% 3% 5%;
  display: flex;
  justify-content: space-between;
  h3{
    text-align: left;
    font-size: 2em;
  }
  .btn{
    background-color: rgb(78, 112, 110);
    border-color: rgb(78, 112, 110);
  }
}

h4{
  display: inline;
  margin: 5% 5% 0 5%;
}

h4:hover{
  cursor: pointer;
  color: grey;
}