$dark-blue-text: rgb(32,43,51);

.jumbotron{
  height: 100%;
  background-color: rgb(197,209,210) !important;
  h1{
    font-size: 7em;
    font-weight: bold;
    padding-top: 35%;
    color: $dark-blue-text;
    font-family: monospace;
  }
  p{
    color: $dark-blue-text;
    font-size: 1.3em;
  }
  img{
    width: 80%;
  }
}

body{
  background-color: rgb(231, 231, 231) !important;
}
